<div class="jumbotron">
  <h1>Currently <%= Tc.Thermometer.temperature %>&deg; F</h1>
  <h2>Desired <%= @desired_temperature.degrees %>&deg; F</h1>
</div>

<div class="row">
  <div class="col-lg-6">
    <h4>Temperature</h4>
    <ul>
      <li>Up</li>
      <li>Down</li>
    </ul>
  </div>
  <div class="col-lg-6">
    <h4>Systems</h4>
    <ul>
      <li>Heat</li>
      <li>Cool</li>
      <li>Off</li>
    </ul>
  </div>
</div>
